<a href="https://colab.research.google.com/github/jtmeawno1/bsc_dpdm22/blob/main/%5Bdataprep2%5D_GIS_point_of_interest_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import json

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
with open('/content/drive/MyDrive/bsc_DPDM_data/7-eleven.json') as json_file:
        this_json = json.loads(json_file.read())

In [54]:
list(this_json.keys())[:10]

['1', '4', '6', '7', '9', '11', '16', '17', '18', '19']

In [5]:
len(this_json)

3653

In [ ]:
#this_json['6']

In [55]:
for t in this_json:
    l = list()
    for x in this_json[t]:
        l.append(x['geometry']['location'])
    #print(l)

In [56]:
for t in this_json:
  l = list()
  for x in this_json[t]:
       l.append(x['geometry']['location'])
       #print(l)

In [ ]:
l # เซเว่นสุดท้ายในลูป

In [10]:
c = list()
for row in this_json["6"]:
    c.append(row["geometry"]["location"])

In [ ]:
c

In [ ]:
seven_id = {} # เก็บของที่เรารวบรวมแล้ว 1 รอบ
for t in this_json:
  l = list()
  for x in this_json[t]:
       l.append(x['geometry']['location'])
       #print(t)
       #print(l)
       seven_id[t]=l # วิธีสร้าง dict ที่index เป็น t list เป็น l

In [ ]:
#seven_id.keys()

In [ ]:
#seven_id.values()

# load data บ้าน

In [17]:
import pandas as pd

In [57]:
home = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/Data Supply.xlsx')
home.head(3)

,post_id,https://nayoo.co/khonkaen/posts/,type,post_type,listing_type,parent_id,draft_for,project_name,contact_name,province_id,...,cable_max,cable_free,cable_none,cable_ask,position_previous,position_current,sold_out_at,created_at,updated_at,deleted_at
0,25.0,https://nayoo.co/khonkaen/posts/25,post,secondhand,sale,NaN,NaN,กันยารัตน์ เดอวินเทจ,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,6.0,...,NaN,NaN,NaN,NaN,991.0,991.0,NaT,2020-06-29 06:25:32,2021-10-10 15:58:05,NaN
1,33.0,https://nayoo.co/khonkaen/posts/33,post,secondhand,sale,NaN,NaN,จันทร์ประเสริฐแกรนด์,NaN,6.0,...,NaN,NaN,NaN,NaN,985.0,985.0,NaT,2020-06-29 06:25:32,2021-10-11 07:41:34,NaN
2,495.0,https://nayoo.co/khonkaen/posts/495,post,secondhand,sale,NaN,NaN,NaN,NaN,6.0,...,NaN,NaN,NaN,NaN,1834.0,1834.0,NaT,2020-07-03 04:23:01,2021-09-02 00:02:12,NaN

In [ ]:
this_seven = seven_id['25']
this_seven

In [ ]:
for i in home.columns:
    print(i)

In [24]:
this_home = home[home['post_id']==25]
this_home

,post_id,https://nayoo.co/khonkaen/posts/,type,post_type,listing_type,parent_id,draft_for,project_name,contact_name,province_id,...,cable_max,cable_free,cable_none,cable_ask,position_previous,position_current,sold_out_at,created_at,updated_at,deleted_at
0,25.0,https://nayoo.co/khonkaen/posts/25,post,secondhand,sale,NaN,NaN,กันยารัตน์ เดอวินเทจ,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,6.0,...,NaN,NaN,NaN,NaN,991.0,991.0,NaT,2020-06-29 06:25:32,2021-10-10 15:58:05,NaN

In [25]:
this_home['latitude'][0]

16.4101787

In [26]:
this_home['longitude'][0]

102.8576126

In [27]:
this_seven[0]

{'lat': 16.4229267, 'lng': 102.8712313}

In [28]:
this_seven[0]['lat']

16.4229267

In [29]:
import geopy.distance

In [30]:
loc1 = [this_home['latitude'][0],this_home['longitude'][0]]
loc2 = [this_seven[0]['lat'],this_seven[0]['lng']]

In [67]:
geopy.distance.geodesic(loc1,loc2).m

2026.3410640485051

# HW 4

In [ ]:
seven_id

In [32]:
type(seven_id)

dict

In [ ]:
seven_df = pd.DataFrame.from_dict(seven_id,  orient='index').reset_index()
seven_df.rename(columns={'index':'id'}, inplace=True)

In [ ]:
h = home[['post_id','latitude','longitude']]

In [ ]:
h.set_index('post_id').join(seven_df.set_index('id'))

In [34]:
from pandas.io.json import json_normalize

# เฉลย  HW 4

In [98]:
id =25

In [ ]:
this_home = home[home['post_id']==(id)] #เพื่อที่จะวนลูป int
this_home

In [128]:
# กำหนด lat lng ของบ้านก่อน
h_lat = this_home['latitude'].values[0]
h_long = this_home['longitude'].values[0]

In [107]:
this_seven = seven_id[str(id)]

In [ ]:
this_seven

### คำนวณระยะทางระหว่างแต่ละเซเว่นกับบ้าน

In [142]:
seven_dist=list() # สร้าง list ว่างเอามาเก็บ
loc1 = [h_lat,h_long] # โลบ้านไม่เปลี่ยน เซตให้อยู่นอกลูป
for seven in this_seven:
   loc2 = [seven['lat'],seven['lng']]
   dist = geopy.distance.geodesic(loc1,loc2).m
   seven_dist.append(dist)

seven_dist

[1164.3865278588064,
 1990.3311226791807,
 2517.35314998564,
 163.5901933125848,
 370.5869144401129,
 190.46512239421477,
 1590.748948682938]

In [143]:
def cal_seven_radius(seven_dist_list, radius):
  num =0 
  for seven in seven_dist_list:
       if seven < radius:
          num = num + 1
       return num

In [144]:
cal_seven_radius(seven_dist,500)

0

In [110]:
import numpy as np

In [111]:
np.array(seven_dist) < 500

array([False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False])

In [112]:
sum(np.array(seven_dist) < 250)

0

In [113]:
sum(np.array(seven_dist) < 500)

1

In [114]:
sum(np.array(seven_dist) < 2000)

3

In [115]:
record_list = list()

In [118]:
record_dict = {}
record_dict['id'] = int(id)
record_dict['d250-7/11'] = sum(np.array(seven_dist) < 250)
record_dict['d500-7/11'] = sum(np.array(seven_dist) < 500)
record_dict['d750-7/11'] = sum(np.array(seven_dist) < 750)
record_dict['d1000-7/11'] = sum(np.array(seven_dist) < 1000)
record_dict['d1250-7/11'] = sum(np.array(seven_dist) < 1250)
record_dict['d1500-7/11'] = sum(np.array(seven_dist) < 1500)

In [119]:
record_dict

{'id': 25,
 'd250-7/11': 0,
 'd500-7/11': 1,
 'd750-7/11': 1,
 'd1000-7/11': 1,
 'd1250-7/11': 1,
 'd1500-7/11': 2}

In [120]:
record_list.append(record_dict)

In [121]:
pd.DataFrame(record_list)

   id  d250-7/11  d500-7/11  d750-7/11  d1000-7/11  d1250-7/11  d1500-7/11
0  25          0          1          1           1           1           2

In [ ]:
record_list = list() # เก็บ record ของแต่ละ id เริ่มจาก list ที่ไม่มีอะไรก่อน
for id in home['post_id']:
     print(id)
     this_home = home[home['post_id']==(id)]
     h_lat = this_home['latitude'].values[0]
     h_long = this_home['longitude'].values[0]
     this_seven = seven_id[str(int(id))]
     seven_dist=list() 
     loc1 = [h_lat,h_long] 
     for seven in this_seven:
          loc2 = [seven['lat'],seven['lng']]
          dist = geopy.distance.geodesic(loc1,loc2).m
          seven_dist.append(dist)

     record_dict = {}
     record_dict['id'] = id
     record_dict['d250-7/11'] = sum(np.array(seven_dist) < 250)
     record_dict['d500-7/11'] = sum(np.array(seven_dist) < 500)
     record_dict['d750-7/11'] = sum(np.array(seven_dist) < 750)
     record_dict['d1000-7/11'] = sum(np.array(seven_dist) < 1000)
     record_dict['d1250-7/11'] = sum(np.array(seven_dist) < 1250)
     record_dict['d1500-7/11'] = sum(np.array(seven_dist) < 1500)
     record_list.append(record_dict)

final_table = pd.DataFrame(record_list)

In [146]:
final_table

,id,d250-7/11,d500-7/11,d750-7/11,d1000-7/11,d1250-7/11,d1500-7/11
0,25.0,0,1,1,1,1,2
1,33.0,0,1,2,3,5,5
2,495.0,0,0,0,2,2,3
3,564.0,0,0,2,4,8,12
4,566.0,0,1,2,3,4,4
...,...,...,...,...,...,...,...
95,19495.0,0,2,3,7,10,14
96,19496.0,0,0,0,1,4,9
97,20164.0,1,1,2,4,7,9
98,31.0,0,0,1,3,3,4
99,570.0,2,3,3,3,4,4

# Quiz

In [149]:
for i in home.columns:
    print(i)

post_id
https://nayoo.co/khonkaen/posts/
type
post_type
listing_type
parent_id
draft_for
project_name
contact_name
province_id
district_id
district
sub_district_id
sub_district
บ้านเดี่ยว/บ้านแฝด
ต่อเติม
renovate
brand
zip_code
zone_id
zone
property_type_id
category
company_id
user_id
user
cover_image
cover_image_path
address_number
village_number
alley
street
route
name_th
name_en
description
excerpt
other_accommodation
logo_image_path
map_image_path
latitude
longitude
quality
quality_previous
standard_quality
create_quality
update_quality
quality_calculate_date
pin_score
approved
status
status_chat
reject_reason
is_review
total_ctr
total_mobile_ctr
total_email_ctr
total_line_ctr
total_facebook_ctr
starting_price
ending_price
number_of_rai
number_of_ngan
number_of_va
construct_year
plan_image_path
post_number
model
sell_price
rent_price
expire_date
expired
close_reason
number_of_unit
number_of_story
number_of_bedroom
number_of_bathroom
usable_area
central_cost
direction
furniture
rent_status
accept_agent
number_of_parking
area
building_number
number_of_building
floor_number
parking_percentage
number_of_lift
line_group_id
line_group_name
line_group_image
minimum_contract_month
has_lift
can_pet
can_smoke
has_ac
has_wardrobe
has_single_bed
has_double_bed
has_makeup_desk
has_desk
has_sofa
has_sink
has_tv
has_refrig
has_heater
has_cable_tv
has_wifi
has_lan
has_other
water_as_use
water_as_use_unit_price
water_as_use_minimum
water_as_normal
water_per_person
water_per_person_price
water_per_person_maximum
water_per_person_over_price
water_per_room
water_per_room_price
water_per_room_maximum
water_per_room_over_price
water_included
water_ask
electric_as_use
electric_as_use_unit_price
electric_as_use_minimum
electric_as_normal
electric_included
electric_ask
waranty_fixed
waranty_fixed_price
waranty_range
waranty_min
waranty_max
waranty_as_month
waranty_ask
advance_fixed
advance_fixed_price
advance_range
advance_min
advance_max
advance_as_month
advance_ask
central_cost_fixed
central_cost_range
central_cost_min
central_cost_max
central_cost_none
central_cost_ask
internet_fixed
internet_fixed_price
central_cost_fixed_price
internet_range
internet_min
internet_max
internet_free
internet_none
internet_ask
parking_fixed
parking_fixed_price
parking_range
parking_min
parking_max
parking_free
parking_none
parking_ask
cable_fixed
cable_fixed_price
cable_range
cable_min
cable_max
cable_free
cable_none
cable_ask
position_previous
position_current
sold_out_at
created_at
updated_at
deleted_at

In [150]:
final_table.columns

Index(['id', 'd250-7/11', 'd500-7/11', 'd750-7/11', 'd1000-7/11', 'd1250-7/11',
       'd1500-7/11'],
      dtype='object')

In [157]:
final = home.merge(final_table,left_on='post_id', right_on='id')[['post_id','number_of_rai','number_of_ngan','number_of_va','number_of_story','number_of_bedroom',
                                                          'number_of_bathroom','direction','furniture','usable_area','number_of_parking','project_name','district','zone','street','sell_price', 'd250-7/11', 'd500-7/11', 'd750-7/11', 'd1000-7/11', 'd1250-7/11',
       'd1500-7/11']]
final

,post_id,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,direction,furniture,usable_area,...,district,zone,street,sell_price,d250-7/11,d500-7/11,d750-7/11,d1000-7/11,d1250-7/11,d1500-7/11
0,25.0,0.0,0.0,63.8,1.0,3.0,2.0,0.0,0.0,135.0,...,เมืองขอนแก่น,โนนทัน-บึงแก่นนคร,NaN,2700000.0,0,1,1,1,1,2
1,33.0,0.0,0.0,61.1,1.0,2.0,2.0,0.0,0.0,112.0,...,เมืองขอนแก่น,กลางเมือง-เมืองเก่า-กุดกว้าง,NaN,2600000.0,0,1,2,3,5,5
2,495.0,NaN,3.0,12.8,NaN,0.0,NaN,0.0,0.0,0.0,...,เมืองขอนแก่น,โนนทัน-บึงแก่นนคร,โพธิสาร,5900000.0,0,0,0,2,2,3
3,564.0,NaN,NaN,85.0,NaN,0.0,NaN,0.0,0.0,0.0,...,เมืองขอนแก่น,ทุ่งสร้าง-ศรีจันทร์-ราชมงคล,NaN,4400000.0,0,0,2,4,8,12
4,566.0,NaN,NaN,65.0,NaN,0.0,NaN,0.0,0.0,0.0,...,เมืองขอนแก่น,ทุ่งสร้าง-ศรีจันทร์-ราชมงคล,ศรีจันทร์,2750000.0,0,1,2,3,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,19495.0,0.0,1.0,76.2,2.0,0.0,0.0,0.0,0.0,193.0,...,เมืองขอนแก่น,สามเหลี่ยม-กังสดาล-ม.ขอนแก่น,NaN,5500000.0,0,2,3,7,10,14
96,19496.0,0.0,2.0,56.8,1.0,0.0,0.0,0.0,0.0,0.0,...,เมืองขอนแก่น,โนนทัน-บึงแก่นนคร,NaN,7911000.0,0,0,0,1,4,9
97,20164.0,0.0,1.0,2.0,1.0,4.0,2.0,0.0,0.0,0.0,...,เมืองขอนแก่น,สามเหลี่ยม-กังสดาล-ม.ขอนแก่น,NaN,2990000.0,1,1,2,4,7,9
98,31.0,0.0,0.0,55.8,2.0,3.0,2.0,0.0,0.0,188.0,...,เมืองขอนแก่น,โนนม่วง-มข.-เลี่ยงเมือง-โนนเรือง,ถนนมิตรภาพ(ทล.2) กม.6+150,4000000.0,0,0,1,3,3,4
99,570.0,0.0,0.0,83.0,NaN,0.0,NaN,0.0,0.0,0.0,...,เมืองขอนแก่น,ศิลา-โกทา-หนองไผ่-บ้านดอน,NaN,1375000.0,2,3,3,3,4,4

In [156]:
for i in final.columns:
    print(i)

post_id
number_of_rai
number_of_ngan
number_of_va
number_of_story
number_of_bedroom
number_of_bathroom
direction
furniture
usable_area
number_of_parking
project_name
district
zone
street
sell_price
d250-7/11
d500-7/11
d750-7/11
d1000-7/11
d1250-7/11
d1500-7/11