<a href="https://colab.research.google.com/github/jtmeawno1/bsc_dpdm22/blob/main/Performance_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
from sklearn import datasets
iris = datasets.load_iris()

In [17]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold

In [18]:
model = DecisionTreeClassifier()
kf = KFold(n_splits=10, shuffle=True, random_state=42)
scores = cross_val_score(model, iris.data, iris.target, cv=kf)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.95 (+/- 0.10)

In [21]:
from sklearn.model_selection import LeaveOneOut

In [22]:
model = DecisionTreeClassifier(max_depth=2)
LOO =  LeaveOneOut()
# Use cross_val_score to evaluate the decision tree classifier using leave-one-out cross-validation
scores = cross_val_score(model, iris.data, iris.target, cv=LOO)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.95 (+/- 0.42)

In [ ]:
X =iris_data['data']
X

In [ ]:
y = iris_data['target']
y

transform

In [30]:
import pandas as pd

In [31]:
columns = iris['feature_names']
df = pd.DataFrame(X, columns=columns)

In [38]:
X_df = df.sample(frac=1)
X_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
93                 5.0               2.3                3.3               1.0
0                  5.1               3.5                1.4               0.2
51                 6.4               3.2                4.5               1.5
8                  4.4               2.9                1.4               0.2
81                 5.5               2.4                3.7               1.0
..                 ...               ...                ...               ...
48                 5.3               3.7                1.5               0.2
57                 4.9               2.4                3.3               1.0
88                 5.6               3.0                4.1               1.3
119                6.0               2.2                5.0               1.5
37                 4.9               3.6                1.4               0.1

[150 rows x 4 columns]

In [39]:
X_df['label']=y

In [40]:
shuffle_df = X_df.sample(frac=1, random_state=6)
shuffle_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
81,5.5,2.4,3.7,1.0,0
20,5.4,3.4,1.7,0.2,2
51,6.4,3.2,4.5,1.5,0
18,5.7,3.8,1.7,0.3,0
143,6.8,3.2,5.9,2.3,2
...,...,...,...,...,...
119,6.0,2.2,5.0,1.5,2
3,4.6,3.1,1.5,0.2,1
46,5.1,3.8,1.6,0.2,2
38,4.4,3.0,1.3,0.2,2
89,5.5,2.5,4.0,1.3,2

In [41]:
shuffle_df['fold'] = 15*[1,2,3,4,5,6,7,8,9,10]

In [42]:
shuffle_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,fold
81,5.5,2.4,3.7,1.0,0,1
20,5.4,3.4,1.7,0.2,2,2
51,6.4,3.2,4.5,1.5,0,3
18,5.7,3.8,1.7,0.3,0,4
143,6.8,3.2,5.9,2.3,2,5
...,...,...,...,...,...,...
119,6.0,2.2,5.0,1.5,2,6
3,4.6,3.1,1.5,0.2,1,7
46,5.1,3.8,1.6,0.2,2,8
38,4.4,3.0,1.3,0.2,2,9
89,5.5,2.5,4.0,1.3,2,10

การบ้าน ทำ 10 fold