<a href="https://colab.research.google.com/github/jtmeawno1/bsc_dpdm22/blob/main/Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
os.chdir('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)')

!pwd

/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)

In [3]:
!ls

จ.เลย.xlsx  จ.นครพนม.xlsx  จ.สกลนคร.xlsx  จ.หนองคาย.xlsx  จ.ขอนแก่น.xlsx

In [4]:
import pandas as pd

# ความกด

## เลย

In [5]:
pressure_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
pressure_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [6]:
pressure_lei['จังหวัด'] = 'เลย'

In [7]:
pressure_lei['เดือน'] =pressure_lei['เดือน/ปี'].dt.month

In [8]:
pressure_lei['ปี'] = pressure_lei['เดือน/ปี'].dt.year

In [9]:
pres_lei = pressure_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,352201-หนองคาย จ.หนองคาย,10,2011,1005.12,1006.51,1007.81,1008.15,1009.21,1011.28,...,1010.98,1010.79,1010.25,1011.52,1012.04,1012.00,1012.74,1011.69,1011.27,1011.71
2,เลย,352201-หนองคาย จ.หนองคาย,11,2011,1012.09,1011.32,1010.99,1011.47,1010.88,1009.62,...,1014.21,1014.79,1015.74,1014.36,1013.30,1011.92,1009.86,1010.1,1010.43,-
3,เลย,352201-หนองคาย จ.หนองคาย,12,2011,1010.43,1011.81,1012.45,1012.03,1013.29,1013.21,...,1014.34,1013.75,1013.11,1015.95,1018.79,1019.39,1017.88,1016.49,1014.97,1015.62

## สกลนคร

In [10]:
pressure_snk = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',skiprows=3).drop(0, axis=0)
pressure_snk.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [11]:
pressure_snk['จังหวัด'] = 'สกลนคร'

In [12]:
pressure_snk['เดือน'] = pressure_snk['เดือน/ปี'].dt.month

In [13]:
pressure_snk['ปี'] = pressure_snk['เดือน/ปี'].dt.year

In [14]:
pres_snk = pressure_snk[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
pres_snk.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,สกลนคร,352201-หนองคาย จ.หนองคาย,10,2011,1005.84,1007.16,1007.87,1008.56,1010.55,1011.83,...,1011.36,1011.24,1010.80,1012.02,1012.36,1012.42,1012.97,1012.52,1011.87,1012.21
2,สกลนคร,352201-หนองคาย จ.หนองคาย,11,2011,1012.41,1011.47,1011.22,1011.16,1010.51,1009.26,...,1014.41,1015.21,1016.11,1014.65,1012.96,1011.91,1010.10,1010.78,1011.06,-
3,สกลนคร,352201-หนองคาย จ.หนองคาย,12,2011,1012.16,1013.74,1013.44,1014.00,1013.28,1012.69,...,1014.07,1014.22,1017.34,1019.63,1019.96,1017.56,1017.02,1015.8,1016.96,1017.63

## นครพนม

In [15]:
pressure_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
pressure_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [16]:
pressure_npm['จังหวัด'] = 'นครพนม'

In [17]:
pressure_npm['เดือน'] = pressure_npm['เดือน/ปี'].dt.month

In [18]:
pressure_npm['ปี'] = pressure_npm['เดือน/ปี'].dt.year

In [19]:
pres_npm = pressure_npm[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
pres_npm.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,นครพนม,352201-หนองคาย จ.หนองคาย,10,2011,1006.30,1007.38,1008.07,1008.44,1010.51,1011.65,...,1011.24,1011.09,1010.64,1012.01,1012.47,1012.46,1012.85,1012.43,1011.69,1012.28
2,นครพนม,352201-หนองคาย จ.หนองคาย,11,2011,1012.28,1011.23,1011.08,1010.96,1010.57,1009.20,...,1014.31,1015.49,1016.09,1014.62,1012.80,1011.83,1010.00,1010.6,1011.13,-
3,นครพนม,352201-หนองคาย จ.หนองคาย,12,2011,1012.15,1013.75,1013.24,1013.94,1013.35,1012.62,...,1014.05,1014.23,1017.58,1019.77,1019.71,1017.34,1017.01,1015.64,1016.89,1017.73

## หนองคาย

In [20]:
pressure_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
pressure_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [21]:
pressure_nki['จังหวัด'] = 'หนองคาย'

In [22]:
pressure_nki['เดือน'] = pressure_nki['เดือน/ปี'].dt.month

In [23]:
pressure_nki['ปี'] = pressure_nki['เดือน/ปี'].dt.year

In [24]:
pres_nk = pressure_nki[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
pres_nk.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,หนองคาย,352201-หนองคาย จ.หนองคาย,10,2011,1005.34,1006.67,1007.39,1008.11,1009.69,1011.55,...,1011.17,1011.01,1010.71,1011.67,1012.36,1012.50,1012.81,1011.88,1011.77,1012.18
2,หนองคาย,352201-หนองคาย จ.หนองคาย,11,2011,1012.05,1011.35,1011.28,1011.27,1010.62,1009.58,...,1014.32,1015.27,1016.46,1014.65,1013.08,1011.62,1010.21,1010.71,1011.1,-
3,หนองคาย,352201-หนองคาย จ.หนองคาย,12,2011,1012.16,1013.26,1012.40,1013.57,1013.68,1012.72,...,1013.91,1013.94,1016.92,1019.05,1019.88,1017.86,1016.76,1015.63,1016.31,1017.19

## ขอนแก่น

In [25]:
pressure_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
pressure_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [26]:
pressure_kkn['จังหวัด'] = 'ขอนแก่น'

In [27]:
pressure_kkn['เดือน'] = pressure_kkn['เดือน/ปี'].dt.month

In [28]:
pressure_kkn['ปี'] = pressure_kkn['เดือน/ปี'].dt.year

In [ ]:
pres_kn = pressure_kkn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]
pres_kn

# รวมตาราง ความกด

In [ ]:
all_province = pd.concat([pres_lei, pres_snk, pres_npm, pres_nk, pres_kn])
all_province

In [37]:
A = pd.melt(all_province,
        id_vars=['จังหวัด','สถานี','เดือน','ปี'],
                 var_name='วันที่', value_name='ความกด')

In [53]:
A['วันที่'] = A['วันที่'].astype(int)

In [54]:
A.sort_values(by=['จังหวัด','ปี','เดือน','วันที่']).head(10)

      จังหวัด                     สถานี  เดือน    ปี  วันที่   ความกด
220   ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       1  1005.47
495   ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       2  1006.65
770   ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       3  1007.49
1045  ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       4  1008.28
1320  ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       5  1009.88
1595  ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       6  1011.36
1870  ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       7  1011.17
2145  ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       8   1010.2
2420  ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011       9  1010.14
2695  ขอนแก่น  352201-หนองคาย จ.หนองคาย     10  2011      10   1010.6

# ความชื้น

## เลย

In [56]:
humidity_lei = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.เลย.xlsx',skiprows=3).drop(0, axis=0)
humidity_lei.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [63]:
humidity_lei['จังหวัด'] = 'เลย'

In [64]:
humidity_lei['เดือน'] =humidity_lei['เดือน/ปี'].dt.month

In [65]:
humidity_lei['ปี'] = humidity_lei['เดือน/ปี'].dt.year

In [66]:
hum_lei = humidity_lei[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,เลย,352201-หนองคาย จ.หนองคาย,10,2011,89,91,78,75,90,88,...,71,76,73,68,71,70,71,70,66,68
2,เลย,352201-หนองคาย จ.หนองคาย,11,2011,68,66,66,67,68,69,...,63,60,64,65,67,68,69,71,69,-
3,เลย,352201-หนองคาย จ.หนองคาย,12,2011,67,62,66,66,65,68,...,66,65,56,61,58,67,71,70,67,68

## สกลนคร

In [57]:
humidity_skn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx',skiprows=3).drop(0, axis=0)
humidity_skn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

In [69]:
humidity_skn['จังหวัด'] = 'สกลนคร'

In [70]:
humidity_skn['เดือน'] =humidity_lei['เดือน/ปี'].dt.month

In [71]:
humidity_skn['ปี'] = humidity_lei['เดือน/ปี'].dt.year

In [72]:
hum_skn = humidity_skn[['จังหวัด','สถานี','เดือน','ปี','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']]

## หนองคาย

In [59]:
humidity_nki = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx',skiprows=3).drop(0, axis=0)
humidity_nki.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

## นครพนม

In [60]:
humidity_npm = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx',skiprows=3).drop(0, axis=0)
humidity_npm.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']

## ขอนแก่น

In [61]:
humidity_kkn = pd.read_excel('/content/drive/MyDrive/bsc_DPDM_data/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx',skiprows=3).drop(0, axis=0)
humidity_kkn.columns.values[3:34] =['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']